<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @classroom.name %>
</p>

<p>
  <b>School:</b>
  <%= @classroom.school_id %>
</p>


<%= link_to 'Edit', edit_classroom_path(@classroom) %> |
<%= link_to 'Back', classrooms_path %>
