<h1>Listing lessons</h1>

<table>
  <tr>
    <th>Enrollment</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lessons.each do |lesson| %>
  <tr>
    <td><%= lesson.enrollment.full_name %></td>
    <td><%= lesson.name %></td>
    <td><%= link_to 'Show', lesson_path(lesson, classroom_id: lesson.classroom_id) %></td>
    <td><%= link_to 'Edit', edit_lesson_path(lesson, classroom_id: lesson.classroom_id) %></td>
    <td><%= link_to 'Destroy', lesson_path(lesson, classroom_id: lesson.classroom_id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<h2>New Lesson</h2>

<% @enrollments.each do |enrollment| %>
    <%= link_to enrollment.full_name, new_lesson_path(classroom_id: enrollment.classroom_id, enrollment_id: enrollment.id) %>
    <br />
<% end %>
