<h1>Listing lessons</h1>

<table>
  <tr>
    <th>Enrollment</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lessons.each do |lesson| %>
  <tr>
    <td><%= lesson.enrollment.full_name %></td>
    <td><%= lesson.name %></td>
    <td><%= link_to 'Show', lesson_path(lesson, classroom_id: lesson.classroom_id) %></td>
    <td><%= link_to 'Edit', edit_lesson_path(lesson, classroom_id: lesson.classroom_id) %></td>
    <td><%= link_to 'Destroy', lesson_path(lesson, classroom_id: lesson.classroom_id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<form method="get" action="<%= new_lesson_path %>">
    Enrollment:
      <select name="enrollment_id">
      <%= options_from_collection_for_select( @enrollments, :id, :full_name ) %>
      </select>
    <%= submit_tag 'Go!' %>
</form>